*{
    
    box-sizing: border-box;


}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #4e034a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {

    background: rgb(182, 51, 138);
}
.App{
    text-align: center;
    color: white;

}
#heading{
    font-size: 30px;
    font-family: 'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    /* text-align: right; */
    /* padding-right: 5px 0px 5px 20px; */
    display: flex;
    justify-content: space-between;
}
.AppBackground{
    background-color: rgb(192, 102, 192);
    height: 91vh;
    width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
}
.MainApp{

    display: flex;
    width: 70%;
    height: 300px;
    gap: 1rem;
}
.QuestionSection{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-color: rgb(173, 24, 99);
    border-radius: 20px;
  
}
.AnswerSection{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(173, 24, 99);
    border-radius: 20px;
    width: 500px;
    height: 400px;

}
button{
    width: 250px;
    height: 40px;
    background-color: rgb(173, 24, 99);
    border: solid 2px white;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}
button:hover{
    background-color: white;
    color: rgb(173, 24, 99);
    cursor: pointer;
}
.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 24, 99);
    border-radius: 20px;
    width: 600px;
    height: 300px;
}































